body {
    background-image: url("/static/Upload/FUNDONOVO.png");
    background-position-y: -100px;
    position: relative;
    background-size: cover;
    font-family: Arial;
    z-index: 0;
}

.tela {
    background-color: gray;
    background-size: cover;
    top: 0;
    left: 0;
    opacity: 20%;
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vw;
}

.meio {
    position: relative;
    z-index: 2;
    padding: 80px;
    text-align: center;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.titulo {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-style: normal;
}


.borda {
    background-color: white;
    padding: 30px;
    margin: auto;
    position: relative;
    width: 22%;
    height: 30%;
    border-radius: 40px;
    box-shadow: 0 0 10p gray;
    z-index: 3;
}

.arqs {
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 125%;
    z-index: 4;
}

.localQR {
    position: absolute;
    padding: 50px;
    top: -10px;
    left: 30px;
}

.Background {
    position: relative;
    background-color: white;
    text-align: center;
    border-radius: 40px;
    z-index: 5;
}

.Background1 {
    position: relative;
    background-color: white;
    text-align: center;
    border-radius: 40px;
    z-index: 5;
}

.tituloQR {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-style: normal;
    font-size: small;
    padding: 2%;
    position: relative;  
    z-index: 7;
}

.QRlinks {
    font-size: small;
    margin-top: -5%;
    padding: 7%;
}

.QRimg {
    position: relative;
    z-index: 6;
}

.localLER {
    position: fixed;
    z-index: 9;
    padding: 50px;
    top: -10px;
    left: 840px;
}

.info{
    position: relative;
    font-size: medium;
    justify-items: auto;
    text-align: left;
    font-weight: bold;
}

.tamanho {
    padding: 20px;
}
