<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Special+Gothic+Expanded+One&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Upload/style.css' %}">
    <title>QRCODES</title>
</head>

<body>
    <div class="tela"></div>

    <div class="meio">
        <div class="borda">
            <div class="titulo">
                <h2>QRCODE MAKER!</h2>
            </div>
            <div class="arqs">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label>NOME DO SEU QRCODE</label><br>
                    <input type="text" name="nome" required><br><br>
                    <label>CONTEÚDO DO QRCODE</label><br>
                    <input type="text" name="link" required><br><br>
                    {% if not out|lower|slice:"-4:" == ".png" %}
                    <button type="submit">GERAR QRCODE</button>
                    {% endif%}
                </form>
                {% if out|lower|slice:"-4:" == ".png" %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit" name="sai">CRIAR OUTRO QRCODE</button>
                </form>
            </div>
        </div>
    </div>
    <div class="localQR">
        <div class="Background">
            <div class="tituloQR">
                <h1>Seu codigo QR:<p>
            </div>
            <div class="QRimg">
                <img src="{{ out }}" alt="Fundo" width="85%">
            </div>
            <div class="QRlinks">
                <a href="{{ out }}" download>BAIXAR CODIGO QR!</a>
            </div>
            </p>
            </h1>
        </div>
    </div>
    {% endif %}
    <div class="localLER">
        <div class="Background">
            <div class="tamanho">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="titulo">
                        <label>LER QRCODE</label><br>
                    </div>
                    <input type="file" name="arq" required><br><br>
                    <button type="submit" name='ler'>LER QRCODE</button>
                    <div class="info">
                    {% if qr %}
                        <p>{{ qr }}</p>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>
